<div class="card-footer">
    <div class="likers-group">
        {% for like in post.post_likes.all|slice:":4" %}
            <img src="{{ like.user.profile.image.url }}" data-user-popover="{{ like.user.id }}" alt="{{ like.user.username }}" />
        {% endfor %}
    </div>
    <div class="likers-text">
        <p>
            {% with post.post_likes.all as likers %}
                {% for like in likers|slice:":2" %}
                    <a href="#">{{ like.user.username }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endwith %}
        </p>
        {% if post.likes > 2 %}
            <p>and {{ post.likes|add:"-2" }} more liked this</p>
        {% endif %}
    </div>
</div>